
* {
    margin: 0px;
    padding: 0px;
    font-family: 12px/1.5 tahoma,arial;
}
.uk-navbar {
    height: 60px;
}

.uk-navbar-brand {
    height: 60px;
    font-size: 20px;
    margin-top: 0px;
}

.uk-navbar-nav, .uk-navbar-content {
    float: right;
    height: 61px;
}

.uk-navbar-nav > li > a {
    height: 60px;
    line-height: 60px;
}

.uk-dropdown {
    width: 100px;
}

.uk-navbar {
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.uk-panel-box {
    border-radius: 0px;
    width: 150px;
}

.leftnav {
    position: absolute;
    top: 61px;
    left: 0px;
}

.leftnav li a {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.right-box {
    margin-left: 182px;
    background-color: #ffffff;
    position: relative;
}

.top-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    z-index:2;
}

.files {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    display: none;
    overflow-y: scroll;
}
.seled{
    border: 1px solid #e2e3ed !important;
    border-radius: 2px;
    background-color: #f0fcff !important;
}
.files .uk-panel-box{
	padding:5px;
	text-align: center;
}

.files .uk-panel-box a{
	text-decoration: none;
	color:#595C5F;
}

.fileDiv{
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    width: 110px;
    height: 130px;
    background-color: #ffffff;
    border: none;
    position:relative;
}

.files .uk-panel-box:hover{
    border: 1px solid #e2e3ed;
    border-radius: 2px;
    background-color: #f0fcff;
}
.files .uk-panel-box img {
    width: 80px;
    height: 80px;
}

.files .uk-panel-box p {
	margin:0;
    text-align: center;
    cursor: pointer;
    white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
    width:100px;
    font-size:13px;
    position: absolute;
    bottom:15px;
}
.files .uk-panel-box p:hover{
    color: #599ced;
}

.box-content{
	line-height:95px;
}

.top-btn {
    float: right;
    line-height: 65px;
    margin-right: 98px;
}

.top-btn button:nth-child(1) {
    margin-right: 10px;
}

.top-btn button:nth-child(2) {
    margin-right: 10px;
}

.top-btn button:nth-child(5) {
    margin-right: 10px;
}

.smartMenu{
    display: none;
    position: absolute;
    width: 120px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #ccc;
    z-index: 99;
}
.smartMenu li{
    list-style: none;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;

}
.smartMenu li:hover{
    background-color: #009DD8;
    color: #ffffff;
}

.smartMenu a{
	text-decoration: none;
}
<!-------------------锟斤拷锟叫硷拷锟斤拷锟�----------------------------->
ul.breadcrumb li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
  font-weight: 400;
  padding: 50px 0;
}

ul.breadcrumb {
  float:left;
  margin-top:6px;
  margin-left: 40px;
  margin-bottom:0;
  display: inline-block;
  list-style: none;
}
ul.breadcrumb li {
  float: right;
  padding: 5px;
  background-color: #fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  margin-left: -50px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 3px;
}
ul.breadcrumb li a {
  overflow: hidden;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  height: 40px;
  color: #fff;
  background-color: #00C0FD;
  text-align: center;
  min-width: 50px;
  display: block;
  line-height: 40px;
  padding-left: 42px;
  width: 50px;
}
ul.breadcrumb li a .icon {
  display: inline-block;
}
ul.breadcrumb li a .text {
  display: none;
  opacity: 0;
}
ul.breadcrumb li a:hover {
  width: 100px;
  background-color: #01D2FF;
}
ul.breadcrumb li a:hover .text {
  display: inline-block;
  opacity: 1;
  overflow: hide;
  color:#fff;
}
ul.breadcrumb li:last-child a {
  padding: 0;
}
ul.breadcrumb li:last-child:hover {
  padding: 3px;
  margin-top: 0;
}
ul.breadcrumb li:last-child:hover a {
  width: 50px;
  height: 50px;
  line-height: 50px;
}